body{
    font:20px arial,sans-serif;
}
.navbar{
    background:#696969;    
}

.quem-somos{
    background:#a84d4d;
    color:white;
    
}
.margin{
    
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #864b82;
}
.bg-footer{
    background-color:  black;
    color: #fd7474;
}
